<div class="container">
  <h4>
    Here you can download my CV to learn more about my education, skills, and
    professional journey. From my academic achievements to my work experiences,
    my CV provides a comprehensive overview of who i am and what i bring to the
    table.
  </h4>
  <div class="btns">
    <div>
      <button (click)="downloaden()" class="cv-btn">CV</button>
      <p>English</p>
    </div>
    <div>
      <button (click)="downloadit()" class="cv-btn">CV</button>
      <p>Italian</p>
    </div>
  </div>
</div>
